#calendar .timezone {
    float: right;
}

#calendar #month-select-form {
    float: left;
    position: absolute;
}

#calendar #month-select-form .status,
#calendar #month-select-form .required-info {
    display: none;
}

#calendar .calendar {
    background: #eee url(img/bg-calendar.png) no-repeat;
    background-position: top center;
}

#calendar .calendar h2 {
    text-align: center;
    padding-top: 65px;
}

#calendar .calendar table {
    width: 100%;
    margin-top: 30px;
}

#calendar .calendar table th,
#calendar .calendar table td {
    border: 1px solid #000;
    width: 14%;
    max-width: 14%;
}

#calendar .calendar table .day-0 {
    background-color: #F8E286;
}


#calendar .calendar table th {
    font-weight: bold;
    text-align: center;
    padding: 2px;
}

#calendar .calendar table td {
    vertical-align: top;
    padding: 2px;
    height: 70px;
}

#calendar .calendar table td span.number {
    float: right;
    font-weight: bold;
}

#calendar .calendar table td dl {
    clear: right;
}

#calendar .calendar table td dl dd {
    margin-left: 15px;
}

#calendar .calendar table td dl dd.red {
    color: #FF0000;
}

#calendar .calendar table td dl dd.gray {
    color: #444444;
}

#calendar .calendar table td dl dd span.info {
    display: block;
    margin-left: 10px;
}

#calendar .calendar table td dl dd ul.info li {
    list-style-type: disc;
}

#content {
    background: #eee none;
    border: 1px solid #999;
    padding: 5px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    -moz-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomright: 8px;
}
