*.egg-info
*.pyc
.DS_Store
.Python
.cache/
.coverage
.coverage.*
.installed.cfg
.mr.developer.cfg
.pytest_cache/
bin/
cache/*.py
develop-eggs/
geckodriver.log
htmlcov/
include/
lib/
my-buildout.cfg
parts/
