[buildout]
extends = https://bitbucket.org/icemac/icemac.addressbook/raw/tip/profiles/versions.cfg
versions = versions
allow-picked-versions = false
parts = test console-scripts omelette
develop = .
extensions = mr.developer
sources = sources
sources-dir = dev

[versions]

[test]
recipe = zc.recipe.testrunner
eggs = icemac.ab.calendar[test]

[console-scripts]
recipe = zc.recipe.egg
eggs =
     createcoverage
     createzopecoverage

[omelette]
recipe = collective.recipe.omelette
eggs = ${test:eggs}

[vcs]
bb = hg ssh://hg@bitbucket.org/icemac

[sources]
icemac.addressbook = ${vcs:bb}/icemac.addressbook
icemac.ab.locales = ${vcs:bb}/icemac.ab.locales
gocept.month = hg https://code.gocept.com/hg/public/gocept.month/
